// overwrite bootstrap variables
$primary:       			#6b5f43;
$secondary:					#eb5510;
$dark: 						#333;
$input-bg: 					#f8f8f8;
$input-placeholder-color: 	#acacac;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 6),
  10: ($spacer * 10)
);


$primary-color: #2a57be;
$text-color: #686868;
$text-color-heading: #000;

// end bootstrap variables

// import bootstrap file
@import "bootstrap-4.0.0/scss/bootstrap.scss";

/*
h1	{
	color: $primary-color;
	transition: 300ms color ease-in;
	&:hover {
		color: red;
	}
}*/

body {
	font-size: 19px;
	color: $text-color;
}

h1 {
	color: $text-color-heading;
}

h2 {
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 50px;
	color: $text-color-heading;
}

h3 {
	text-align: left;
	padding-bottom: 20px;
	padding-top: 10px;
	color: $text-color-heading;
}

h4 {
	text-align: center;
	padding-bottom: 60px;
	color: $text-color-heading;
}

h5 {
	padding-bottom:	25px;
	color: $text-color-heading;
}
.separator-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 0;
    .seperator {
	    position: absolute;
	    bottom: -1px;
	    left: 0;
	}
}

.navbar {
	background: rgba(0, 0, 0, 0.0) !important;
	
}


// .dropdown-toggle {
//   margin-left:5px;
//   width:100%;


.span-line {
	display: block;
	background-color: #2a57be;
	width: 25px;
	height: 3px;
	border-radius: 5px;
	margin-top: 25px;
}

.span-line-float {
	float: right;
}

.hero-wrapper {
	padding-top: 270px;
	padding-bottom: 225px;
	background-image: url("/images/hero-img.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1700px;
	position: relative;
	background-size: cover;
	background-color: #fff;
		h1 {
			padding-top: 10px;
			text-align: center;
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-size: 4em;
			margin-bottom: 60px;
		}
		p {
			color: white;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
		}
}

.products-wrapper{
	margin-bottom: 10%;
	margin-top: 10%;

	.products-wrapper-txt-right img {
		transform: translateX(-50%);
		margin-top: -25%;
}
	.products-wrapper-txt-left {
		margin-bottom: 20%;
		margin-top: 20%;

	img {
		transform: translateX(55%);
		margin-top: -25%;
}
}
	.products-wrapper-skyphone {
		margin-bottom: 20%;
		margin-top: 20%;
	img {
		transform: translateX(-10%);
		margin-top: -25%;
	}	
}
}

.our-services-wrapper  {
  background-image: url("/images/about-us-seperator.png"),
     	url("/images/services-background-img.png");
  background-repeat: no-repeat;
  background-position:
    	center top 0%,
  		center bottom 70%;
  background-size:
    	1700px,
  		1700px;
  background-color: #fff;
	}
	#first-header {
		color:white;
	}
	.services-nav-wrapper {
		font-family: 'Montserrat', sans-serif;
		color: white;
		text-align: center;
		img {
			display: block;
			margin: 0 auto 18px auto;
		}
}


.active-services-field {
	margin-top: 12px;
	padding: 70px 70px 70px 70px;
	background-color: white;
	border-radius: 5px;
		p {
		color: $text-color
		}
		img {
		margin: 50px;
		}
}

.our-clients-wrapper {
	background-color: white;
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
		}
		logo {
    		margin: 0 auto;
			align-content: center;
    	}
		.my-flex-item {
			background-color: white;
			border-right: 1px solid #dcdcdc;
			height: 140px;
			width: 222px;
			display: flex;
			align-items: center;
		}
		div:nth-of-type(5n) {
			border: none;
		}
}

.about-us-wrapper {
	background-color: white;
	display: block;
		img {
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			align-items: center;
		}
		.my-flex-item-about {
			background-color: white;
			height: 140px;
			width: 550px;
			margin-top: 50px;
			margin-bottom: 40px;
		}
}


#hero-img {
	transform: translateX(-200px);
	margin-top: -100px;
}
#hero-img-2 {
	transform: translateX(-400px);
	margin-top: 110px;
}


.section-vertical-padding {
	padding-top: 150px;
	padding-bottom: 100px;
	background-color: white;
	}

.footer-vertical-padding {
	padding-top: 300px;
	margin-top: -100px;
	padding-bottom: 100px;
	background-color: #fbfdfd;
}


.offset-double-img-mod img {
	border-bottom-right-radius: 60px;
	transform: translateX(-180px);
	&:nth-child(2) {
		margin-top: -200px;
		margin-left: 100px;
	}
}


.offset-double-img-mod img {
	border-bottom-right-radius: 60px;
	transform: translateX(-180px);
	&:nth-child(2) {
		margin-top: -200px;
		margin-left: 100px;
	}
}


/*.contact-us-wrapper {
	background-image: url("/images/contact-map.png");
	background-position: left 75% bottom 40%;
	background-size: 1100px;
	background-repeat: no-repeat;
	background-color: #fff;
}*/

/*("images/footer-img.png"),
*/

.contact-us-wrapper {
  background-image: url("/images/contact-map.png"),
     	url("images/behind-map-img.png");
  background-repeat: no-repeat,
     	no-repeat,
     	no-repeat;
  background-position: 
  		left 75% bottom 40%,
  		left 75% bottom 100%;
  background-size: 
  		1100px,
  		100%;
  background-color: #fff;

}


.contact-form {
	transform: translateX(-25px);
	margin-top: 740px;
    background: #ccc;
    box-shadow: 1px 1px 1px 2px #eef2f3;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	}

.btn-block {
	float: right;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}

.btn-primary:hover {
	float: right;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}

.btn-primary:active {
	float: right;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}

.btn-primary:visited {
	float: right;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}


.btn-default {
	float: left;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}
.btn-default:hover {
	float: left;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}

.btn-default:active {
	float: left;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}

.btn-default:visited {
	float: left;
	background-color: #fff;
	color: #2a57be;
	border: solid #2a57be 1px;
	min-width: 50%;
	max-width: 50%;
	border-radius: 0;
}


/*
.footer-wrapper
	img {
	margin-top: -1100px;
}*/
/*All Media Queries*/

@media screen and (max-width: 1200px) {
	.our-clients-wrapper { 
		.my-flex-item {
			border: none;
			}
	}
	#hero-img {
	transform: translateX(-250px);
	}
	#hero-img-2 {
	transform: translateX(-375px);
	margin-top: 150px;
	}
	.contact-us-wrapper {
		background-image: contain;
	}
}

@media screen and (max-width: 775px) {
	.our-clients-wrapper { 
		.my-flex-item {
			border: none;
		}
	}
	#hero-img {
	transform: translateX(-250px);
	}
	#hero-img-2 {
	transform: translateX(-375px);
	margin-top: 150px;
	}
		.contact-form {
	transform: translateX(-25px);
	margin-top: 10px;
	}
}

