$primary-color: #2a57be;
$text-color: #686868;
$text-color-heading: #000;

h1	{
	color: $primary-color;
	transition: 300ms color ease-in;
	&:hover {
		color: red;
	}
}

h2 {
	padding-bottom: 20px;
}

p {
	color: $text-color
}

.jumbotron {
	width: 1144px;

}

h4 {
	text-align: center;
}