h1 {
  color: #2a57be;
  -webkit-transition: 300ms color ease-in;
  transition: 300ms color ease-in; }
  h1:hover {
    color: red; }

h2 {
  padding-bottom: 20px; }

p {
  color: #686868; }

.jumbotron {
  width: 1144px; }

h4 {
  text-align: center; }
