// overwrite bootstrap variables
$primary:       #6b5f43;
$secondary:		#eb5510;
$dark: 			#333;
$input-bg: 		#f8f8f8;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 6),
  10: ($spacer * 10)
);


$primary-color: #2a57be;
$text-color: #686868;
$text-color-heading: #000;

// end bootstrap variables

// import bootstrap file
@import "bootstrap-4.0.0/scss/bootstrap.scss";

/*
h1	{
	color: $primary-color;
	transition: 300ms color ease-in;
	&:hover {
		color: red;
	}
}*/

h2 {
	padding-bottom: 20px;
}

h4 {
	text-align: center;
	padding-bottom: 60px;
}

.hero-wrapper {
		h1 {
		margin-top: 310px;
		text-align: center;
		color: $primary-color;
		font-family: 'Montserrat', sans-serif;
		}
		p {
		margin-top: 144px;
		color: red;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		}
}

.our-services-wrapper {
	background-color: #f5f5f5;
	.services-nav-wrapper {
		font-family: 'Montserrat', sans-serif;
		color: white;
		text-align: center;
		img {
			display: block;
			margin: 0 auto 18px auto;
		}
	}
}

.jumbotron {
	margin-top: 12px;
		p {
		color: $text-color
		}
}

.our-clients-wrapper {
	background-color: white;
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
		}
		logo {
    		margin: 0 auto;
			align-content: center;
    	}
		.my-flex-item {
			background-color: white;
			border-right: 1px solid #dcdcdc;
			height: 140px;
			width: 222px;
			display: flex;
			align-items: center;
		}
		div:nth-of-type(5n) {
			border: none;
		}
}

.about-us-wrapper {
	background-color: white;
	display: block;
		img {
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			align-items: center;
		}
		.my-flex-item-about {
			background-color: white;
			height: 140px;
			width: 550px;
			margin-top: 75px;
			margin-bottom: 40px;
		}
		h5 {
			padding-bottom:	25px;
		}
}

	

.section-vertical-padding {
	padding-top: 50px;
	padding-bottom: 520px;
}

/*All Media Queries*/

@media screen and (max-width: 1200px) {
	.our-clients-wrapper { 
		.my-flex-item {
			border: none;
		}
	}
}

